body{
font-family:Arial;
}

input{
background:white !important;
color:black !important;
font-weight:600;
border-radius:8px;
}

label{
font-weight:bold !important;
}

.glass{

background:rgba(255,255,255,0.15);

padding:20px;

border-radius:15px;

backdrop-filter:blur(10px);

border:1px solid rgba(255,255,255,0.2);

}

.stButton button{

background:linear-gradient(90deg,#00c6ff,#0072ff);

color:white;

border:none;

border-radius:10px;

font-weight:bold;

}

.stButton button:hover{

box-shadow:0 0 10px cyan;

}